
body {
  background-color: black;
}

h1, h2 {
  text-align: center;
  color: white;
}
label {
  color: white;
}

button {
  margin-bottom: 15px;
}


label {
  width: 425px;

}

#output {
  color: white;
}
#show-place {
  display: none;
}

.eachPlace {
  cursor: pointer;
  color: #0088cc;
}

.eachPlace:hover {
  text-decoration: underline;
}

.black {
  background-color: black;
  color: white;
}

.white {
  background-color: white;
}
